[Desktop Entry]
Name=NC2000
Exec=sh -c "cd /usr/share/nc2000 && ./nc2000"
Icon=share/images/nc2000_icon.png
Terminal=false
Sysplause=false
Type=Application
